VITE_BREVO_API_KEY=tu_api_key_de_brevo
VITE_BREVO_LIST_ID=id_numerico_de_lista_brevo
VITE_FORMSPREE_ID=id_de_formulario_formspree
VITE_META_PIXEL_ID=id_numerico_pixel_facebook
VITE_GA4_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_PDF_GUIDE_URL=url_completa_del_pdf
